
li > span { display:none}
.visible { display:block}
    
#header, #footer {
    position:relative;
    background-color:green;
    color:white;
    border:1px solid black;
    border-radius:15px;
    padding:10px;
    margin-bottom:20px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
    
.start {
    -webkit-transform:rotateY(-0deg);
    transform:rotateY(-0deg);
    }
    
.end {
    -webkit-transform:rotateY(720deg);
    transform:rotateY(720deg);
    }
    
#list, #details, #form {
    padding:10px;
    background-color:yellow;
    border:1px solid black;
    border-radius:15px;
    margin-bottom:20px;
    }

