/******************************************************/
/* Default stylesheet for world cup application       */
/*                                                    */
/* Author: John Gorter (Info Support BV)              */
/* Date: 09-07-2014                                   */
/*                                                    */
/******************************************************/

/* element styles */
body {
    background-image:url('./images/logo.jpg');
    }

ul {
    list-style: none;
}

li {
    cursor: pointer;
    font-size:26px;
}
    
li > span {
    display:none
    }


/* class styles */
.visible {
    display:block;
    cursor:pointer;
    }

.jumbotron {
    background-color:green !important;
    border:1px solid black;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.jumbotron > h1 {
    color:white !important;
}

.start {
    -webkit-transform:rotateY(-0deg);
    transform:rotateY(-0deg);
    }
    
.end {
    -webkit-transform:rotateY(720deg);
    transform:rotateY(720deg);
    }
    
.modal-header {
    background-color:green;
    color:white;
    border-radius:5px;
}
.modal-body {
    background-color:yellow;
}

.modal-footer {
  background-color:white;
}

/* id styles */
#header, #footer {
    position:relative;
    background-color:green;
    color:white;
    border:1px solid black;
    border-radius:5px;
    padding:10px;
    margin-bottom:20px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

#list, #details {
    padding:10px;
    background-color:yellow;
    border:1px solid black;
    border-radius:5px;
    margin-bottom:20px;
    }
    
    
/* end of file */